<template>
<div class="flex flex-center">
<div class="q-mt-lg">
  <div class="q-gutter-y-md ">
      <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    >
    <Login >
    </Login>
    <div class="row justify-center">
    <q-btn type ="verif" color="blue-13" label="Verifier du token"/>
    </div>
  </div>
  </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { Login} from 'quasar-app-extension-jilogin/src/components/Login' ;
import { Cookies } from 'quasar';
export default defineComponent({
  components: { Login },
  name: 'PageIndex' ,
  setup(){
    const token = Cookies.get('token')
    console.log(token)
  },
  methods:{
    verif(){
    const token = Cookies.get('token')
    console.log(token)
    }
  }
})
</script>
a